<h1>{{model.name}}</h1>
<h3>Average Rating: {{model.averageScore}}</h3>

<div class="info-tile">{{model.info}}</div>

<button{{action 'addtoFaves' model}}>Add to Favourites</button>

<div class="displayFaves">{{display-favourites}}</div>

{{festival-detail festival=model}}

{{new-review festival=model saveReview="saveReview"}}

<div><h3>Map of {{model.name}}</h3>
{{google-map festival=model}}</div>
